modules = ["python-3.11"]

[nix]
channel = "stable-24_05"
packages = ["cacert", "cargo", "freetype", "glibcLocales", "lcms2", "libGL", "libGLU", "libiconv", "libimagequant", "libjpeg", "libtiff", "libwebp", "libxcrypt", "openjpeg", "openssl", "pkg-config", "rustc", "tcl", "tk", "zlib"]

[[ports]]
localPort = 5000
externalPort = 80
